<html>
<head>
    <title>{{ result['ifsc'] }}</title>
</head>
<body>
    <h1>Bank details:</h1>
    <br/>
    <hr>
    <br>
     
    <b>Bank name:</b> {{ result['bank_name'] }}<br>
    <b>Bank address:</b>  {{ result['address'] }}<br>
    <b>Bank city:</b>  {{ result['city'] }}<br>
    <b>Bank state:</b>  {{ result['state'] }}<br>
    <b>Bank district:</b>  {{ result['district'] }}<br>
    <b>Bank branch:</b>  {{ result['branch'] }}<br>
    <b>Bank IFSC:</b>  {{ result['ifsc'] }}<br>
    <b>Bank ID:</b> {{ result['bank_id'] }}<br>    
</body>
</html>
